// .container{
//     top: 16%;
//     position: absolute;
//     z-index: 10;
// }

.att-file-structure{
    display: flex;
    align-items: center;
}
.container-create{
    display: flex;
}
.poppins{
    font-family: 'Poppins'
}
.vertical-line {
    border-left: 1px solid black;
    height: 100px; /* Adjust height as needed */
}
.icon-box{
    // width: 45px;
    height: 35px;
    background-color: #dae1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
}
.pad-child-cpt{
    padding-left: 5%;
}
.form-label{
    width: 20%;
    display: flex;
    align-items: center;
}
.form-input{
    width: 80%;
    outline: none;
    // border-left: 2px solid #438ce7;
}
.form-single-row{
    padding: 10px 5px 5px 0px;
}
#name_EN{
    padding-left: 10px;
    width: 94%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins';
    background: white;
    border-left-width: 2px solid #438ce7;
    outline: none;
}
#description{
    padding-left: 10px;
    width: 44%;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins';
    outline: none;
}
.form-input-gap{
    width: 3%;
}
// .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
//     border-color:
//   }

.mat-mdc-radio-button.mat-accent{
    --mdc-radio-unselected-icon-color:  #438ce7 !important;
    --mdc-radio-selected-icon-color: #438ce7 !important;
    --mdc-radio-unselected-hover-icon-color:#438ce7 !important;
    --mdc-radio-selected-focus-icon-color:#438ce7 !important;
    --mdc-radio-selected-hover-icon-color:#438ce7 !important;
    --mat-radio-checked-ripple-color: none;/* Change this to your desired border color */
  }

  .search-icon{
    position: absolute;
    right: 3%;
    top: 10%;
    color: #438ce7;
  }
  .save-cancel{
    width: 20px;
    height: 16px;
  }
  .mat-tabs-section{
    display: flex;
    width: 100%;
    position: relative;
    // left: 3%;
  }
//   .mat-mdc-focus-indicator {
//     font-family: 'Poppins' !important;
    
//   }
  .mat-tab-label {
    color:black !important;
    // font-family: 'Poppins' !important;
  }
  .mat-tab-label.mat-tab-label-active {
    color: #438ce7 !important;
  }

  .h-line-tabs{
    width: 99.5%;
    margin: 0;
    position: absolute;
    top: 48px;
  }

  .row-save-cancel{
    display: flex; 
    width: 30%; 
    position: absolute;
    right: 0;
    top: 1.7%;
    z-index: 15;
  }

::ng-deep .mdc-label{
  margin-top: 5px !important;
}

  