// .container{
//     top: 16%;
//     position: absolute;
//     z-index: 10;
// }

.c-d-container{
  position: relative;
  overflow: hidden;
  height: 100%;
}

.f-att-bus-req{
  font-family: 'Poppins';
  border-radius:4px;
  width: 97%;
  height: 35px;
  border: 1px solid #438ce7;
  border-left-width: 3px;
  outline: none;
  padding-left: 10px; 
}

.att-file-structure{
  display: flex;
  align-items: center;
  width: 100vw;
}
.container-create{
  display: flex;
}
.poppins{
  font-family: 'Poppins'
}
.vertical-line {
  border-left: 1px solid black;
  height: 100px; /* Adjust height as needed */
}
.icon-box{
  // width: 45px;
  height: 45px;
  background-color: #dae1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}
.pad-child-cpt{
  padding-left: 5%;
}
.form-label{
  height: 30px;
  width: 19%;
  display: flex;
  align-items: center;
}
.form-input{
  width: 80%;
  outline: none;
  // border-left: 2px solid #438ce7;
}
.form-single-row{
  padding: 10px 5px 5px 0px;
  padding-bottom: 0 ;
}
// #name_EN{
//   padding-left: 10px;
//   width: 97%;
//   height: 25px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   font-family: 'Poppins';
//   background: white;
//   border-left-width: 2px solid #438ce7;
//   outline: none;
// }
// #description{
//   padding-left: 10px;
//   width: 46%;
//   height: 60px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   font-family: 'Poppins';
//   outline: none;
// }
.ip-field{
    padding-left: 10px;
    width: 97%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins';
    background: white;
    border-left-width: 2px;
    border-left-color: #438ce7;
    outline: none;
}
.ip-other-info{
  border-left-width: 2px;border-left-color: #438ce7;
}
.sel-small-field{
  padding-left: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Poppins';
  height: 30px;
  background-color: white;
}
.rep-att-field{
  border-left-width: 2px;
  border-left-color: #438ce7;
  width: 22%; 
}
.rep-att-row{
  width: 100%;
}
.code-li-name{
  width: 92%; 
  cursor: default;
}
.f-code-li-name{
  width: 92%; 
  cursor: default;
}
.f-codelist{
  width: 92%;
  cursor: default;
}
.code-val{
  width: 20%; margin-right: 4px;
}
.f-min-val{
  border-left-width: 2px;
  border-left-color: #438ce7;
  width: 20%; height: 25px; border-left-width: 2px;
}
.f-max-val{
  width: 20%; height: 25px;
}
.f-d-type{
  width: 20%; height: 30px;
}
.f-li-mod{
  width: 80%; height: 30px; border-left-width: 2px;border-left-color: #438ce7
}
.f-search-data{
  width: 97%;
}
.f-is-dep{
  width:80%;
}
.description{
    padding-left: 10px;
    width: 97%;
    height: 60px !important;
    border: 1px solid #A1A1A1;
    border-radius: 4px;
    font-family: 'Poppins';
    outline: none;
}
.desc-star{
  height: 35px;
}
.desc-fr{
  border-left: 1px solid #A1A1A1 !important
}
.form-input-gap{
  width: 3%;
}
.desc-input-gap{
  width: 2.5%;
}
.desc-f-row{
  width: 100%;
}
.f-rep-att{
  width: 80%;
}
.en-desc{
  width:48%
}
// .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
//     border-color:
//   }

.mat-mdc-radio-button.mat-accent{
  --mdc-radio-unselected-icon-color:  #438ce7 !important;
  --mdc-radio-selected-icon-color: #438ce7 !important;
  --mdc-radio-unselected-hover-icon-color:#438ce7 !important;
  --mdc-radio-selected-focus-icon-color:#438ce7 !important;
  --mdc-radio-selected-hover-icon-color:#438ce7 !important;
  --mat-radio-checked-ripple-color: none;/* Change this to your desired border color */
}

  .search-icon{
    position: absolute;
    right: 2%;
    top: 8px;
    color: #438ce7;
    
  }
  .icon-dropdown{
    top: 5px;
    right: 0%;
    cursor: pointer;
  }

.search-icon-select{
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 22px;
}
.save-cancel{
  width: 20px;
  height: 14px;
}
.mat-tabs-section{
  display: flex;
  width: 76%;
  position: relative;
  left: 3%;
}
//   .mat-mdc-focus-indicator {
//     font-family: 'Poppins' !important;
  
//   }
.mat-tab-label {
  color:black !important;
  // font-family: 'Poppins' !important;
}
.mat-tab-label.mat-tab-label-active {
  color: #438ce7 !important;
}

.mat-mdc-tab-labels{
  width: 50% !important;
}

.row-save-cancel{
  display: flex; 
  width: 22%; 
  position: absolute;
  right: 2.5%;
  top: 2%;
}
.save-cancel{
  width: 20px;
  height: 14px;
}

.i-box-normal{
  padding-left: 10px;
  // width: 97%;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Poppins';
  background: white;
  border-left-width: 2px solid #438ce7;
  outline: none;
  width: 97%;
  border-left-width: 2px;
  border-left-color: #438ce7;
}

.sel-fil-i-box{
  outline: none;
  width: 99%;
  height: 25px;
  border: 1px solid #ccc;
}

.sel-fil-item{
  // border-bottom: 1px solid #ccc;
  width: 98%;
  margin: 0;
  padding: 1%;
  cursor: pointer;
}
.sel-fil-item:hover {
  background-color: #99a0a0; /* Change color on hover */
}
.sel-fil-div{
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 99%;
  overflow-y: auto;
  max-height: 100px;
  position:absolute;
  z-index: 20;
  background-color: white;
}
.sel-fil-div-visible{
  visibility:visible !important;
}
.sel-fil-div-hidden{
  display: none !important;
}
.att-cards-container{
  width: 80%;
  left: 20%;
  position: absolute;
  flex-wrap: wrap;
  gap: 10px;
  // justify-content: center;
}
.att-card {
  // padding-left: 15px;
  min-width: 20% !important;
  background-color: #dce0e0;
  border-radius: 15px;
  align-items: flex-start;
  justify-content: center;
  padding: 3px;
  font-size: 13px;
}
.att-card-content{
  width: 98%;
  padding: 0 !important;
}
  .row-save-cancel{
    display: flex; 
    width: 22%; 
    position: absolute;
    right: 2.5%;
    top: 2%;
  }
  .save-cancel{
    width: 20px;
    height: 14px;
  }

  .loader-parent {
    position: fixed;
    left: 40%;
    top: 40%;
    z-index: 9;
  }
  
  .loader-parent img {
    width: 100px;
  }
  .form-input-gap-desc{
    width: 2%;
  }
  // .f-is-dep-sel{
  //   width: 98.5%;
  // }
  .mat-label-att-item{
    width: 80%;
    padding-left: 10px !important;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mat-icon-box-att-item{
    width: 15%;
    align-items: center;
    justify-content: end;
    position: relative;
  }
  .mat-icon-att-item{
    position: absolute;
    right: 5px;
    font-size: 18px;
    height: 18px;
    width: 18px;
    cursor: pointer;
  }
  .f-reqd{
    width: 80%;
    left: 20%;
    position: relative;
    color: red;
  }
  .star-reqd{
    color: red;
    width: 1.5%;
    display: flex;
    align-items: center;
  }

  .row-dep-att{
    padding-bottom: 15px !important;
  }

  .f-reqd-desc-en{
    width: 41%;
  }

  .extra-height{
    height: 50px;
  }

  .row-desc-boxes{
    width: 95%;
  }

  .no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.f-dropdown-is_dependant{
  width: 80%;
}

  // @media screen and (max-width: 1600px) {
    .f-is-dep-sel {
      width: 97%;
    }
  // }

  .icon-is-dep-dropdown{
    right: 1.5% !important;
  }

  .min-value-row{
    width: 98.6%;
  }
  .row-end-icon-box{
    display: flex;
    width: 5.5%;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
  }


  // select > option {
  //   background-color: #cdddf1 !important;
  //   color: black !important;
  //   border-top-left-radius: 0 !important;
  //   border-top-right-radius: 0 !important;
  //   border-bottom-right-radius: 6px !important;
  //   border-bottom-left-radius: 6px !important;
  // }

  // select:hover > option {
  //   background: #56e743 !important;
  //   color: white !important;
  // }

  .rep-att-dropdown{
    top: 100%;
    width: 100% !important;
  }
  
  .icon-code-list{
    left: 57%;
  }

  .f-dropdown-codelist{
    width: 20%; 
  }