<div class="container">
    <div *ngIf="showLoader" class="loader-parent">
        <img src="assets/gif/loader.gif">
    </div>
    <form [formGroup]="createForm" class="form">
        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="attr_bus_requirement">Business Requirement </label>
            </div>
            <div class="input form-input">
                <input type="text"
                    style="font-family: 'Poppins';border-radius:4px;width: 97%;height: 35px; border: 1px solid #438ce7; border-left-width: 3px;outline: none;padding-left: 10px; "
                    id="attr_bus_requirement" formControlName="attr_bus_requirement">
            </div>
        </div>
        <br>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="attribute_title_en">Name (EN)</label>
            </div>
            <div class="input form-input">
                <input class="input-field" type="text" style="border-left-width: 2px;border-left-color: #438ce7;" id="attr_bus_requirement" formControlName="attribute_title_en">
            </div>
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="attribute_title_fr">Name (FR)</label>
            </div>
            <div class="input form-input">
                <input class="input-field" type="text" style="border-left-width: 2px;border-left-color: #438ce7;" id="attribute_title_fr" formControlName="attribute_title_fr">
            </div>
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="description">Description (EN)</label>
            </div>
            <div class="row input form-input d-flex">
                <textarea class="description" style="border-left-width: 2px;border-left-color: #438ce7;" id="attribute_description_en" formControlName="attribute_description_en"></textarea>
                <div class="desc-input-gap"></div>
                <textarea class="description" formControlName="attribute_description_en"></textarea>
            </div>
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="attribute_other_info">Other Info</label>
            </div>
            <div class="input form-input">
                <input type="text" class="input-field ip-other-info" formControlName="attribute_other_info" id="att_other_info">
            </div>
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="repeating_attribute">Repeating Attribute</label>
            </div>
            <select class="sel-small-field rep-att-field" formControlName="repeating_attribute" id="repeating_attribute">
                <option selected value="false">No</option>
                <option value="true">Yes</option>
            </select>

            <div class="form-input-gap" style="width: 2%;"></div>

            <div class="label form-label" style="width: 13%;">
                <label for="code_list_name">Code List Name</label>
            </div>
            <select class="sel-small-field code-li-name" formControlName="code_list_name" id="code_list_name">
                <option value="" selected disabled hidden>N/A</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>

            <div class="form-input-gap" style="width: 2%;"></div>

            <div class="label form-label" style="width: 10%;">
                <label for="code_value">Code Value</label>
            </div>
            <select class="sel-small-field code-val" formControlName="code_value" id="code_value">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
            <!-- <mat-icon style="color: #438ce7;padding: 2px;font-size: 30px;margin-left: 5px;">content_paste_go</mat-icon> -->
            <img class="help-image" style="width: 30px;" src="assets/icons/Group 536.svg">
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="min_value">Min Value</label>
            </div>
            <input type="number" class="sel-small-field f-min-val" formControlName="min_value" id="min_value">

            <div class="form-input-gap" style="width: 2%;"></div>

            <div class="label form-label" style="width: 14%;">
                <label for="max_value">Max Value</label>
            </div>
            <!-- <select formControlName="max_value" id="name_EN" style="width: 15%; height: 30px;">
                <option value="" selected disabled hidden>56</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select> -->
            <input type="number" class="sel-small-field f-max-val" formControlName="max_value" id="max_value">

            <div class="form-input-gap" style="width: 2%;"></div>

            <div class="label form-label" style="width: 9%;">
                <label for="data_type">Data Type</label>
            </div>
            <select class="sel-small-field f-d-type" formControlName="data_type" id="data_type">
                <option value="Number" selected>Number</option>
                <option value="String">String</option>
            </select>

        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="link_module">Link Module</label>
            </div>
            <select id="link_module" class="input-field f-li-mod">
                <option value="" selected disabled hidden>Core</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
            <!-- <img class="search-icon-select" style="width: 20px;" src="assets/icons/Icon feather-search.svg"> -->
            <!-- <div class="search-icon">
                <mat-icon style="color: #438ce7;">search</mat-icon>
              </div> -->
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="link_sub_module">Link Sub Module </label>
            </div>
            <select class="input-field f-li-mod" id="link_sub_module">
                <option value="" selected disabled hidden>Select/Search sub module name</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="attribute_repeatability">Repeatability</label>
            </div>

            <div class="form-input">
                <mat-radio-group formControlName="attribute_repeatability" style="width: 100%; display: flex;">
                    <mat-radio-button value="Self" style="width: 32%; border-color:  #438ce7 !important;">Self Repeating</mat-radio-button>
                    <!-- <div class="form-input-gap" style="width: 2%;"></div> -->
                    <mat-radio-button value="Group" style="width: 32%;">Group Repeating</mat-radio-button>
                </mat-radio-group>
            </div>
            
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <!-- <label for="repeatability"></label> -->
            </div>
            <div class="input form-input" style="position: relative;">
                <input type="text" class="input-field f-search-data" id="search_data" formControlName="search_data">
                <!-- <mat-icon class="search-icon">search</mat-icon> -->
                <img class="search-icon" style="width: 18px; height: 17px;" src="assets/icons/Icon feather-search.svg">
            </div>
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="is_dependent_attribute">Dependent</label>
            </div>
            <select formControlName="is_dependent_attribute" class="input-field f-li-mod" id="is_dependent_attribute">
                <option value="true" selected hidden>Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <div class="row form-single-row d-flex">
            <div class="label form-label">
                <label for="dependent_attributes ">Dependent Attributes </label>
            </div>
            <div class="input form-input" style="position: relative;">
                <input type="text" class="input-field f-search-data" id="dependent_attributes" formControlName="dependent_attributes">
                <!-- <mat-icon class="search-icon">search</mat-icon> -->
                <img class="help-image search-icon" style="width: 18px; height: 17px;" src="assets/icons/Icon feather-search.svg">
            </div>
        </div>

        <!-- Add more form controls as needed -->
    </form>
</div>