<div class="header-container">
    <div class="row p-20" style="width: 100%; display: flex;">
        <div class="row-title">GS1 Moonlander - Console</div>
        <div class="row-icons">
            <mat-icon class="p-8">notifications_none</mat-icon>
            <mat-icon class="p-8">help_outline</mat-icon>
            <mat-icon class="p-8">settings</mat-icon>
            <!-- <mat-icon>account_circle</mat-icon> -->
            <div class="avatar">A</div>
        </div>
    </div>
</div>
<!-- <span class="material-symbols-outlined">
    notifications
    </span> -->