<div class="container">
    <div class="row main">
        <div class="vertical"></div>
        <div class="content">
            <img class="help-image" src="assets/icons/carbon_help.svg">
            <p class="field-rule f-w-500 f-s-16" style="font-family: 'Poppins';">FIELD RULES</p>
            <p class="bussiness-req f-w-500 f-s-15" style="font-family: 'Poppins';">Business Requirement</p>
            <p class="contents">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore</p>
            <ul class="list">
                <li>Lorem ipsum dolor sit amet, consetetur</li>
                <li>Lorem ipsum dolor sit amet, consetetur
                    sadipscing elitr, sed diam nonumy eirmod</li>
                <li>Lorem ipsum dolor sit amet, consetetur</li>
                <li>Lorem ipsum dolor sit amet, consetetur
                    sadipscing elitr, sed diam nonumy eirmod</li>

            </ul>
            <p class="contents">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore</p>
            <div id="square">
                <img class="image" src="assets/icons/Icon awesome-image.svg">
            </div>

        </div>
    </div>
</div>